* {
  box-sizing: border-box;
  max-width: 1200px;
  border: 10px;
  padding: 10px;
}
a {
  display: flex;
  color: rgb(111, 111, 111);
  text-decoration: none;
  align-items: center;
  font-weight: bold;
}
h3 {
  background:#fb8888;
  color: white;
  font-family:sans-serif;
}
.container {
  display: flex; 
  flex-flow: column nowrap;
}

.header {
  display: flex;
  background: url(../images/header.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  flex-flow: column nowrap;
  
}
.menu {
  display: flex;
  /* flex-flow: row nowrap; */
  /* height: 100px; */
  align-items: center;
}
.log1 {
  display: flex;
  flex: 1 1 auto;
  height: 50px;
  align-items: center;
  /* background: #70a3c4; */
}
.log2 {
  display: flex;
  flex: 5 1 auto;
  justify-content: space-between;
  align-items: center;
  color: rgb(113, 0, 0);
  height: 50px;
  /* background: #acc470; */
}
.log2 a:hover{
  color: #bf4508
}
.log3 {
  display: flex;
  /* flex: 1 1 auto; */
  align-items: center;
  justify-content: start;
  height: 50px;
  /* background: #8170c4; */
  flex-basis: auto;
}
.texto {
  display: flex;
  background: #b4b4b468;  
  justify-content: center;
  align-items: center;
  margin-bottom: 50;
  color: rgba(216, 96, 26, 0.774);

}   

.section {
  background: #dbdbdb;
  display: flex;
}
.articulos {
    background: #dbdbdb;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    margin-top: 0px;
    }
        .article {
                flex: 1 1 45%;
              }
              .article img {
                 width: 100%;
                }
                .article p{
                  display: flex;
                  font-family: sans-serif;
                  font-size: 15px;
                }

.barra_inf {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
.aside {
  background: #dbdbdb;
  flex: 1 1 auto;
}
    .pub1 {
    background: #dbdbdb;
    text-align: center;
    font-family: sans-serif;
    padding: 1px;
  }
  .pub2 {
    display: flex;
    background: #aa5555;
        font-family: sans-serif;
        text-align: center;
        font-size: 12px;
        padding: 2px;
        margin-top: 1px;
        }

.footer {
  background: #dfdfde;
}
.pie {
  display: flex;
  background: #dfdfde;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  padding: 1px;
  height: 0px;
}
