* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  /* max-width: 1200px; */
}
a {
  color: rgb(111, 111, 111);
  text-decoration: none;
}
.container {
  display: flex; 
  flex-flow: column nowrap;
}

.header {
  display: flex;
  background: url(images/header.jpg);
  flex-flow: column nowrap;
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  
}
.menu {
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  align-items: center;
}
.log1 {
  flex: 1 1 auto;
}
.log2 {
  display: flex;
  flex: 5 1 auto;
  justify-content: flex-end;
  align-items: center;
  color: rgb(113, 0, 0);
  height: 50px;
}
.log3 {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  height: 50px;
            }
.texto {
  display: flex;
  background: #b4b4b468;  
  justify-content: center;
  align-items: center;
  margin-bottom: 50;
  color: rgba(216, 96, 26, 0.774);

}
    h1 {
    background: #ffcd38;
    }

.section {
  background: black;
  display: flex;
}
    .articulos {
    background: #4e4e6a;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    }
        .article {
        background: #1f6cb0;
        flex: 1 1 40%;
        }
.navegacion {
  background: #70a3c4;
  flex: 1 1 100%;
}
.aside {
  background: #f32424;
  flex: 1 1 auto;
}
    .pub1 {
    background: #ffcd38;
    }
        .pub2 {
        background: #ffcd38;
        }

.footer {
  background: black;
}
.pie {
  background: #ffcd38;
}
